In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv('data/chefsmeal.csv')
df2 = pd.read_csv('data/flexfield_fitness.csv')

df1 = df1[['Customer ID',"Gender", 'Age', 'Hours at Gym (per week)','Fitness Goal']]
df2 = df2[['Customer ID',"Gender", 'Age', 'Hours at Gym (per week)','Fitness Goal']]
print(df1.head())
df2.head()

   Customer ID  Gender  Age  Hours at Gym (per week)        Fitness Goal
0       221958  Female   27                      7.3        Build muscle
1       771155  Female   24                      6.2  Endurance training
2       231932    Male   22                      7.4            Fat loss
3       465838  Female   23                      6.0        Build muscle
4       359178  Female   18                      9.3        Build muscle

   Customer ID  Gender  Age  Hours at Gym (per week)        Fitness Goal
0       221958  Female   27                      7.3        Build muscle
1       771155  Female   24                      6.2  Endurance training
2       231932    Male   22                      7.4            Fat loss
3       465838  Female   23                      6.0        Build muscle
4       359178  Female   18                      9.3        Build muscle

In [7]:
df1.equals(df2)

True

In [8]:
df1 = pd.read_csv('data/coreboost.csv')
df2 = pd.read_csv('data/flexfield_fitness.csv')

df1 = df1[['Customer ID',"Gender", 'Age', 'Hours at Gym (per week)','Fitness Goal']]
df2 = df2[['Customer ID',"Gender", 'Age', 'Hours at Gym (per week)','Fitness Goal']]
print(df1.head())
df2.head()

   Customer ID  Gender  Age  Hours at Gym (per week)        Fitness Goal
0       221958  Female   27                      7.3        Build muscle
1       771155  Female   24                      6.2  Endurance training
2       231932    Male   22                      7.4            Fat loss
3       465838  Female   23                      6.0        Build muscle
4       359178  Female   18                      9.3        Build muscle

   Customer ID  Gender  Age  Hours at Gym (per week)        Fitness Goal
0       221958  Female   27                      7.3        Build muscle
1       771155  Female   24                      6.2  Endurance training
2       231932    Male   22                      7.4            Fat loss
3       465838  Female   23                      6.0        Build muscle
4       359178  Female   18                      9.3        Build muscle

In [9]:
df1.equals(df2)

True

In [11]:
df1 = pd.read_csv('data/pulsegear.csv')
df2 = pd.read_csv('data/flexfield_fitness.csv')

df1 = df1[['Customer ID',"Gender", 'Age', 'Hours at Gym (per week)','Fitness Goal']]
df2 = df2[['Customer ID',"Gender", 'Age', 'Hours at Gym (per week)','Fitness Goal']]
print(df1.head())
df2.head()

   Customer ID  Gender  Age  Hours at Gym (per week)        Fitness Goal
0       221958  Female   27                      7.3        Build muscle
1       771155  Female   24                      6.2  Endurance training
2       231932    Male   22                      7.4            Fat loss
3       465838  Female   23                      6.0        Build muscle
4       359178  Female   18                      9.3        Build muscle

   Customer ID  Gender  Age  Hours at Gym (per week)        Fitness Goal
0       221958  Female   27                      7.3        Build muscle
1       771155  Female   24                      6.2  Endurance training
2       231932    Male   22                      7.4            Fat loss
3       465838  Female   23                      6.0        Build muscle
4       359178  Female   18                      9.3        Build muscle

In [12]:
df1.equals(df2)

True